@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: 0px;
}


footer{
	font-size: 12px;
	color: white;
	background-color: #000E2F;
	padding: 10px;
}



#main{
	display: flex;
}


#calendar{
	background-color: green;
	flex: 4;
	display: flex;
}

