:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: 0px;
}

body {
	margin: 0px;
}

header{
	font-size: 12px;
	color: white;
	background-color: #000E2F;
	padding: 10px;
}

footer{
	font-size: 12px;
	color: white;
	background-color: #000E2F;
	padding: 10px;
}



#main{
	display: flex;
}

#classbar{
	background-color: brown;
	flex: 1;
	display: flex;
	height: 80vh;
}

#calendar{
	background-color: green;
	flex: 4;
	display: flex;
}

